.img {
    opacity: 0.8;
  }
  .input {
    text-align: center;
    max-width: 35rem;
    width: 80%;
    margin: 2rem auto;
    margin-top: -15rem;
    position: relative;
    color: white;
    border-radius: 14px;
    padding: 1rem;
    box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
  }
  
  .input label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: white;
  }
  
  .input input {
    font: inherit;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.15rem;
    margin-bottom: 0.5rem;
  }
  
  .input input:focus {
    outline: none;
    border-color: #4f005f;
  }
  